<section class="row-img">
    <ul class="feed-link">
        <li><a href="#"><i class="fas fa-camera"></i></a></li>
        <li><a href="#"><i class="fas fa-globe"></i></a></li>
    </ul>
    <div class="text">
        <h2>Print Feed</h2>
        <h3 class="wht"><strong>Featured print</strong></h3>
        <h4 class="wht"><strong>Find print to join - Dismiss</strong></h4>
    </div>
  </section>
  <hr class="bar">
  <section class="row-img">
    <div class="head">
        <div class="text">
            <h3 class="wht"><strong>Wallpaper</strong></h3>
            <h5 class="mb-0"><strong>Printed [Qty]</strong></h5>
        </div>
        <div class="join">
            <a href="#" class="cta">Join</a>
            <a href="javascript:void(0);" class="cross-icon"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="img-slider">
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
        </div>
    </div>
  </section>
  <section class="row-img">
    <div class="head">
        <div class="text">
            <h3 class="wht"><strong>Pre Pasted</strong></h3>
            <h5 class="mb-0"><strong>Printed [Qty]</strong></h5>
        </div>
        <div class="join">
            <a href="#" class="cta">Join</a>
            <a href="javascript:void(0);" class="cross-icon"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="img-slider">
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s1.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s2.jpg" alt=""></div>
            <div class="item"><img src="assets/images/s3.jpg" alt=""></div>
        </div>
        <div class="view-more text-center">
            <a href="#" class="cta">View More</a>
        </div>
    </div>
  </section>
  <hr class="bar">
  <section class="img-row">
    <div class="wrap-img">
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="assets/images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="assets/images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="assets/images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="assets/images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
  </section>