<section class="inner-nav page-meta-top bg-gray">
    <div class="link-row">
        <h2 class="page-title">Statistics</h2>
        <ul class="link-icon">
            <li><a href="#"><i class="fas fa-eye"></i></a></li>
            <li><a href="#"><i class="fas fa-download"></i></a></li>
            <li><a href="#"><i class="fas fa-code"></i></a></li>
            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
        </ul>
    </div>
    <div class="link-row">
        <div class="updated">Updated 15 minutes ago</div>
        <div class="from">7 Days</div>
    </div>
</section>
<section class="stats-wrap">
    <div class="stats-box">
        <div class="row">
            <div class="col">
                <div class="box">
                    <h3>Rank</h3>
                    <h2>5</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>1 vs 22</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Printed</h3>
                    <h2>1</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>1 vs past 7 days</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Spaces</h3>
                    <h2>3</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>3 vs past 7 days</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Views</h3>
                    <h2>222</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>55 vs past 7 days</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Downloaded</h3>
                    <h2>222</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>55 vs past 7 days</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Embeded</h3>
                    <h2>107</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>55 vs past 7 days</span></div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <h3>Social</h3>
                    <h2>22k</h2>
                    <div class="pos"><i class="fas fa-arrow-up"></i><span>55 vs past 7 days</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cool-stats">
        <h6 class="placeholder">Cool Stats Visual</h6>
    </div>
</section>