<header class="header bg-body">
    <div class="nav-main left">
        <ul class="link">
            <li class="active"><a href="create-two-wip.html" class="icon"><i class="fas fa-folder"></i></a></li>
        </ul>
        <h3 class="title">Photograph 2</h3>
    </div>
    <div id="nav-icon" class="nav-icon"><span></span>
    </div>
    <div class="nav-main right">
        <ul class="link-button">
            <li><a href="#">Cancel</a></li>
            <li><a href="#">Save</a></li>
        </ul>
    </div>
</header>