<section class="chat-message">
    <div class="inner-main">
        <div class="cm-box message-box">
            <div class="head">
                <h2>Messenger</h2>
            </div>
            <div class="body">
                <div class="empty-inbox">
                    <h3>Inbox Empty</h3>
                    <p>Reach out and connect with<br> your community or Pros</p>
                </div>
            </div>
        </div>
        <div class="cm-box chat-box">
            <div class="head">
                <h2>New Conversation</h2>
                <span class="cta-blank"></span>
            </div>
            <div class="body">
                <div class="search-chat">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <input type="text" placeholder="Search">
                </div>
                <ul class="chat-type">
                    <li class="active"><a href="#">Joined</a></li>
                    <li><a href="#">Partner</a></li>
                </ul>
                <div class="chatted-box">
                    <div class="user"><span></span></div>
                    <div class="typed">
                        <h3>Pro 1</h3>
                        <h5>@Pro1</h5>
                    </div>
                </div>
                <div class="chatted-box">
                    <div class="user"><span></span></div>
                    <div class="typed">
                        <h3>Pro 2</h3>
                        <h5>@Pro2</h5>
                    </div>
                </div>
                <div class="chatted-box">
                    <div class="user"><span></span></div>
                    <div class="typed">
                        <h3>Pro 3</h3>
                        <h5>@Pro3</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>