<div>
<section class="inner-nav">
    <ul class="link">
        <li><a href="#">NOTIFICATIONS</a></li>
        <li class="active"><a href="#">ACTIVITY</a></li>
    </ul>
</section>
<section class="img-row bg-gray">
    <div class="wrap-img">
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
        <div class="img-box">
            <div class="head">
                <div class="user"><span></span></div>
                <div class="box-meta">
                    <h3>Pro 1 <span class="time">15 hours ago</span> </h3>
                    <h5>Printed [Qty]</h5>
                </div>
            </div>
            <div class="img-holder">
                <img src="images/ib.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>
</div>