<section class="inner-nav bg-gray">
    <ul class="link">
        <li class="active"><a href="javascript:void(0);" id="manage-call">Manage</a></li>
        <li><a href="javascript:void(0);" id="pros-call">Pros</a></li>
    </ul>
</section>
<section class="wrap-inner">
    <div class="manage-row" id="managebox" style="display: block;">
        <div class="top-actions">
            <ul>
                <li><a href="#"><i class="fas fa-camera"></i></a></li>
                <li class="active"><a href="#"><i class="fas fa-clipboard-list"></i></a></li>
                <li><a href="#"><i class="fas fa-tag"></i></a></li>
                <li><a href="#"><i class="fas fa-lock"></i></a></li>
            </ul>
        </div>
        <div class="text-box">
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"><i class="far fa-clock"></i></div>
                    <h3>Time Taken</h3>
                </div>
                <div class="opt right">
                    <h3>More</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
                </div>
            </div>
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                    <h3>Location</h3>
                </div>
                <div class="opt right">
                    <h3>Less</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
                </div>
            </div>
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"></div>
                    <h3>Describe</h3>
                </div>
                <div class="opt right">
                    <h3>200</h3>
                    <div class="icon"></div>
                </div>
            </div>
            <div class="control-setting">
                <textarea col="5" row="4" placeholder="Tags"></textarea>
            </div>
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"><i class="fas fa-camera"></i></div>
                    <h3>Camera</h3>
                </div>
                <div class="opt right">
                    <h3>More</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
                </div>
            </div>
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"><i class="fas fa-cog"></i></div>
                    <h3>Setting 3</h3>
                </div>
                <div class="opt right">
                    <h3>More</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
                </div>
            </div>
            <div class="control-setting">
                <div class="opt left">
                    <div class="icon"><i class="fas fa-cog"></i></div>
                    <h3>Setting 4</h3>
                </div>
                <div class="opt right">
                    <h3>More</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="manage-row" id="prosbox">
        <div class="pro-box top">
            <h2>0 Pros</h2>
            <div class="box-button">
                <h6>Connect Pros</h6>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <div class="pro-box">
            <div class="text">
                <h2>Payout %</h2>
                <ul class="list">
                    <li><i class="fas fa-circle blue"></i> Fixed</li>
                    <li><i class="fas fa-circle"></i> Individual</li>
                </ul>
            </div>
            <div class="box-button">
                <h6>Payout split</h6>
                <ul class="split">
                    <li>80</li>
                    <li class="colon">:</li>
                    <li>20</li>
                </ul>
            </div>
        </div>
        <div class="pro-box">
            <div class="user-box">
                <div class="user"><span></span></div>
                <div class="typed">
                    <h3>Pro 1</h3>
                    <h5>@Pro1</h5>
                </div>
            </div>
            <div class="box-button">
                <h6>Payout split</h6>
                <ul class="split">
                    <li>20</li>
                </ul>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <div class="pro-box">
            <div class="user-box">
                <div class="user"><span></span></div>
                <div class="typed">
                    <h3>Pro 2</h3>
                    <h5>@Pro2</h5>
                </div>
            </div>
            <div class="box-button">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <div class="pro-box">
            <div class="user-box">
                <div class="user"><span></span></div>
                <div class="typed">
                    <h3>Pro 3</h3>
                    <h5>@Pro3</h5>
                </div>
            </div>
            <div class="box-button">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <div class="pro-box bottom">
            <div class="top-link">
                <ul class="link-opt">
                    <li class="active"><a href="#">Personal</a></li>
                    <li><a href="#">Basic</a></li>
                </ul>
                <div class="box-button">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <ul class="link-opt-list">
                <li>
                    <div class="text"><i class="fas fa-circle blue"></i>I’ve just got back from <a href="#">Location</a></div><span class="menu"><a href="#"><i class="fas fa-ellipsis-v"></i></a></span>
                </li>
                <li>
                    <div class="text"><i class="fas fa-circle blue"></i>I wanted to share my latest photograpghy project <a href="#">Name</a></div><span class="menu"><a href="#"><i class="fas fa-ellipsis-v"></i></a></span>
                </li>
                <li class="down">
                    <div class="text"><i class="fas fa-circle"></i>I absolutely love the place, it was a perfect location for <a href="#">Tags</a> photography</div><span class="menu"><a href="#"><i class="fas fa-ellipsis-v"></i></a></span>
                </li>
            </ul>
        </div>
    </div>
</section>